---
// Props: image (string), name (string), description (string), price (string or number)
//const { image, name, description, price } = Astro.props;
import foods from "../data/foods/foods-1";
---

<div>
  {
    foods.map( (food) => (
      <div class="menu-card rounded-[7px] overflow-hidden shadow-md flex w-full bg-white p-3.5">
        <img
          src={food.image}
          alt={food.name}
          class="menu-card__image rounded-[7px]"
        />
        <div class="flex flex-col justify-between pl-3 w-full">
          <div class="menu-card__content text-left w-full">
            <h2 class="menu-card__title">{food.name}</h2>
            <p class="menu-card__description">{food.description}</p>
          </div>
          <div class="menu-card__price-container flex items-center gap-1.5 justify-end">
            <span class="menu-card__description">c/u</span>
            <span class="menu-card__price" style="font-size: 22px;">
              ${food.price}
            </span>
          </div>
        </div>
      </div>
    ))
  }
</div>

<style>
  .menu-card__image {
    background-color: #27ae60;
    width: 135px;
    height: 144px;
    object-fit: cover;
  }
  .menu-card__title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .menu-card__description {
    color: #555;
    font-size: 1rem;
  }
  .menu-card__price {
    font-weight: bold;
    color: #000000;
  }
</style>
